*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav{
    background-color: #94A684;
    overflow: hidden;
}

.navLink{
    font-size: 25px;
    padding: 10px;
    color: white;
    float: left;
    text-decoration: none;
}

.access{
    float: right;
}

.navLink:hover{
    background-color: white;
    color: black;
}

.homepage{
    position: relative;
}

.homepage .topic{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.topic label{
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email]{
    width: 380px;
    border-radius: 25px;
    margin: 10px;
    font-size: 16px;
    padding: 5px 20px;
}

input[type=text]:focus{
    border: solid 3px black;
}

.activeBtn{
    padding: 5px 20px;
    font-size: 20px;
    background-color: #94A684;
}

.activeBtn:hover{
    border-radius: 20px;
    border: solid 4px black;
    cursor: pointer;
}

.activeBtn:active{
    transform: translateY(5%);
}

.bg-form{
    background-image: url('pagelogin.png');
    background-position: left;
    background-size: 490px;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    max-width: 980px;
    margin: auto;
    border: solid 2px black;
    
}

.container{
    background-color: white;
    position: absolute;
    right: 0;
    height: 100%;
    width: 490px;
    text-align: center;
}

.container label{
    font-weight: bold;
    font-size: 20px;
    width: 100px;
}

.container input[type=text], .container input[type=password], .container input[type=email]{
    width: 200px;
}

.container .activeBtn{
    width: 70%;
}